<div class="col-md-12">
  <div class="group">
    <% if @group.editable_by?(current_user)%>
      <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
    <% end %>
    <%= link_to("New Post", new_group_post_path(@group), class: "btn btn-primary pull-right")%>
    <% if current_user.present? %>
      <% if @group.has_this_member?(current_user) %>
        <%= link_to("Quit Group", quit_group_path(@group), method: :post, class: "btn btn-danger")%>
      <% else %>
        <%= link_to("Join Group", join_group_path(@group), method: :post, class: "btn btn-info")%>
      <% end %>
    <% end %>
  </div>
  <h1><%= @group.title%></h1>
  <p><%= @group.description %></p>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Content</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>#</td>
          <td><%= post.content %></td>
          <td>
            <% if post.editable_by?(current_user)%>
              <%= link_to("Edit", edit_group_post_path(post.group, post), class: "btn btn-primary btn-xs")%>
              <%= link_to("Delete", group_post_path(post.group, post), class: "btn btn-primary btn-xs",
                          method: :delete, data:{confirm: "Are You Sure?"})%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
